body {
  margin: 0;
  overflow: auto; 
  background-color: cadetblue;
}

.container {
  width: 150vw;   
  height: 150vh;  
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.imgnext {
  position: absolute;  

  width: 195px;       
  height: 130px;

  top: 73%;           
  left: 66%;            
  transform: rotate(4deg);

}

.imgnext:hover {
  transform: rotate(4deg) scale(1.05);
  transition: transform 0.3s ease;
}