body{
    margin: 0;
}

.container{
  position: relative;
}

.container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
}

.itembar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: blue; 
}